In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('/Users/abby/Projects/time_series_analysis-main/data/futures/raw/AMZN.csv')

In [2]:
data = data.sort_values(by='timestamp')
data.reset_index(drop=True, inplace=True)

In [3]:
def factor_b(zf, price, period):
    zf_mean = zf.rolling(period).mean()
    price_mean = price.rolling(period).mean()
    b = zf_mean*price_mean
    return b

In [4]:
zf = data['high']/data['low']
zhenfu = pd.DataFrame(zf)
zhenfu.columns = ['zhenfu']
f = data['high']/data['low']*data['adjusted_close']
factor = pd.DataFrame(f)
factor.columns = ['factor']

In [5]:
result = pd.concat([data, zhenfu], axis=1)
result = pd.concat([result, factor],axis=1)
print(result[:50])

    Unnamed: 0   timestamp       open       high        low    close  \
0           99  2021-01-12  3120.0000  3142.1418  3086.0000  3120.83
1           98  2021-01-13  3128.4400  3189.9500  3122.0800  3165.89
2           97  2021-01-14  3167.5200  3177.9999  3120.5900  3127.47
3           96  2021-01-15  3123.0200  3142.5450  3095.1700  3104.25
4           95  2021-01-19  3107.0000  3145.0000  3096.0000  3120.76
5           94  2021-01-20  3181.9900  3279.8000  3175.0000  3263.38
6           93  2021-01-21  3293.0000  3348.5500  3289.5675  3306.99
7           92  2021-01-22  3304.3100  3321.9100  3283.1644  3292.23
8           91  2021-01-25  3328.5000  3363.8900  3243.1463  3294.00
9           90  2021-01-26  3296.3559  3338.0000  3282.8700  3326.13
10          89  2021-01-27  3341.4900  3346.5200  3207.0800  3232.58
11          88  2021-01-28  3235.0400  3301.6800  3228.6900  3237.62
12          87  2021-01-29  3230.0000  3236.9900  3184.5500  3206.20
13          86  2021-02-01  3242.3600  3350.2600  3235.0250  3342.88
14          85  2021-02-02  3380.0000  3427.7400  3361.1250  3380.00
15          84  2021-02-03  3425.0100  3434.0000  3308.6200  3312.53
16          83  2021-02-04  3330.0000  3347.0000  3277.7500  3331.00
17          82  2021-02-05  3319.0000  3377.0000  3302.7100  3352.15
18          81  2021-02-08  3358.5000  3364.9999  3304.0000  3322.94
19          80  2021-02-09  3312.4900  3338.0000  3297.8400  3305.00
20          79  2021-02-10  3314.0000  3317.9548  3254.0000  3286.58
21          78  2021-02-11  3292.0000  3292.0000  3248.0600  3262.13
22          77  2021-02-12  3250.0000  3280.2500  3233.3100  3277.71
23          76  2021-02-16  3254.0500  3308.3000  3253.5910  3268.95
24          75  2021-02-17  3263.6000  3320.9100  3259.4996  3308.64
25          74  2021-02-18  3282.4200  3338.0000  3273.9400  3328.23
26          73  2021-02-19  3328.2300  3333.5000  3245.7500  3249.90
27          72  2021-02-22  3208.1300  3232.3199  3172.2600  3180.74
28          71  2021-02-23  3127.0300  3204.7300  3093.6000  3194.50
29          70  2021-02-24  3166.7500  3171.2300  3125.3800  3159.53
30          69  2021-02-25  3136.7400  3178.2600  3047.7600  3057.16
31          68  2021-02-26  3095.2000  3122.4400  3036.7000  3092.93
32          67  2021-03-01  3127.8900  3149.5600  3097.9900  3146.14
33          66  2021-03-02  3143.4700  3163.5200  3087.1201  3094.53
34          65  2021-03-03  3081.1800  3107.7750  2995.0000  3005.00
35          64  2021-03-04  3012.0000  3058.1300  2945.4300  2977.57
36          63  2021-03-05  3005.0000  3009.0000  2881.0001  3000.46
37          62  2021-03-08  3015.0000  3064.5900  2951.3100  2951.95
38          61  2021-03-09  3017.9900  3090.9600  3005.1474  3062.85
39          60  2021-03-10  3098.4500  3116.4600  3030.0500  3057.64
40          59  2021-03-11  3104.0100  3131.7843  3082.9300  3113.59
41          58  2021-03-12  3075.0000  3098.9800  3045.5000  3089.49
42          57  2021-03-15  3074.5700  3082.2400  3032.0900  3081.68
43          56  2021-03-16  3104.9700  3128.9100  3075.8601  3091.86
44          55  2021-03-17  3073.2200  3173.0500  3070.2200  3135.73
45          54  2021-03-18  3101.0000  3116.6300  3025.0000  3027.99
46          53  2021-03-19  3029.2300  3077.2850  3016.6300  3074.96
47          52  2021-03-22  3067.8500  3126.5800  3060.0500  3110.87
48          51  2021-03-23  3127.0000  3182.0000  3120.8501  3137.50
49          50  2021-03-24  3151.0400  3160.3100  3085.1500  3087.07

    adjusted_close   volume  dividend_amount  split_coefficient    zhenfu  \
0          3120.83  3418549              0.0                1.0  1.018192
1          3165.89  3321244              0.0                1.0  1.021739
2          3127.47  3070919              0.0                1.0  1.018397
3          3104.25  4243995              0.0                1.0  1.015306
4          3120.76  3305142              0.0                1.0  1.015827
5          3263.38  5309835              0.0                1.0  1.033008
6          3306.99  4945051              0.0                1.0  1.017930
7          3292.23  2821914              0.0                1.0  1.011801
8          3294.00  3749758              0.0                1.0  1.037230
9          3326.13  2955235              0.0                1.0  1.016793
10         3232.58  4660158              0.0                1.0  1.043479
11         3237.62  3149228              0.0                1.0  1.022607
12         3206.20  4293556              0.0                1.0  1.016467
13         3342.88  4160212              0.0                1.0  1.035621
14         3380.00  6183716              0.0                1.0  1.019819
15         3312.53  7088781              0.0                1.0  1.037895
16         3331.00  3670661              0.0                1.0  1.021127
17         3352.15  3620808              0.0                1.0  1.022494
18         3322.94  3257391              0.0                1.0  1.018462
19         3305.00  2179355              0.0                1.0  1.012178
20         3286.58  3125174              0.0                1.0  1.019654
21         3262.13  2301417              0.0                1.0  1.013528
22         3277.71  2335339              0.0                1.0  1.014518
23         3268.95  2574721              0.0                1.0  1.016815
24         3308.64  3261801              0.0                1.0  1.018840
25         3328.23  3033607              0.0                1.0  1.019567
26         3249.90  4305184              0.0                1.0  1.027035
27         3180.74  3461266              0.0                1.0  1.018933
28         3194.50  4677222              0.0                1.0  1.035923
29         3159.53  3011275              0.0                1.0  1.014670
30         3057.16  4399320              0.0                1.0  1.042818
31         3092.93  4246135              0.0                1.0  1.028235
32         3146.14  2733963              0.0                1.0  1.016646
33         3094.53  2595762              0.0                1.0  1.024748
34         3005.00  3988725              0.0                1.0  1.037654
35         2977.57  5481578              0.0                1.0  1.038263
36         3000.46  5388551              0.0                1.0  1.044429
37         2951.95  4185008              0.0                1.0  1.038383
38         3062.85  4030032              0.0                1.0  1.028555
39         3057.64  3012489              0.0                1.0  1.028518
40         3113.59  2776391              0.0                1.0  1.015847
41         3089.49  2421888              0.0                1.0  1.017560
42         3081.68  2918592              0.0                1.0  1.016540
43         3091.86  2538764              0.0                1.0  1.017247
44         3135.73  3118584              0.0                1.0  1.033493
45         3027.99  3657027              0.0                1.0  1.030291
46         3074.96  4625354              0.0                1.0  1.020107
47         3110.87  2902179              0.0                1.0  1.021741
48         3137.50  3817263              0.0                1.0  1.019594
49         3087.07  2958981              0.0                1.0  1.024362

         factor
0   3177.605442
1   3234.712373
2   3185.006472
3   3151.763979
4   3170.151873
5   3371.097236
6   3366.284888
7   3331.082586
8   3416.637005
9   3381.986475
10  3373.128709
11  3310.811878
12  3258.996511
13  3461.956909
14  3446.989088
15  3438.058169
16  3401.375029
17  3427.552086
18  3384.289579
19  3345.247192
20  3351.175134
21  3306.260340
22  3325.294583
23  3323.917261
24  3370.976227
25  3393.352273
26  3337.762197
27  3240.960451
28  3309.254585
29  3205.880988
30  3188.062492
31  3180.257631
32  3198.511518
33  3171.113280
34  3118.151544
35  3091.499762
36  3133.767382
37  3065.254565
38  3150.310310
39  3144.836803
40  3162.930160
41  3143.742479
42  3132.650206
43  3145.185853
44  3240.754108
45  3119.710570
46  3136.787834
47  3178.504902
48  3198.976138
49  3162.276775

In [6]:
a = result['zhenfu']
b = result['adjusted_close']
factor_b = factor_b(a,b, 20)

In [7]:
fb = pd.DataFrame(factor_b)
fb.columns = ['factor_b']
result = pd.concat([result,fb],axis=1)

In [8]:
d = result[20:]
c = d['factor']-d['factor_b']
signal = np.sign(c)
thesig = signal.shift(1)

In [9]:
ss = pd.DataFrame(thesig)
ss.columns = ['signal']

In [10]:
da = pd.concat([d,ss],axis=1)
print(da)

    Unnamed: 0   timestamp      open       high        low    close  \
20          79  2021-02-10  3314.000  3317.9548  3254.0000  3286.58
21          78  2021-02-11  3292.000  3292.0000  3248.0600  3262.13
22          77  2021-02-12  3250.000  3280.2500  3233.3100  3277.71
23          76  2021-02-16  3254.050  3308.3000  3253.5910  3268.95
24          75  2021-02-17  3263.600  3320.9100  3259.4996  3308.64
..         ...         ...       ...        ...        ...      ...
95           4  2021-05-28  3242.000  3247.9900  3219.7000  3223.07
96           3  2021-06-01  3243.495  3250.9800  3209.0600  3218.65
97           2  2021-06-02  3223.100  3235.0000  3208.0000  3233.99
98           1  2021-06-03  3204.230  3214.4350  3184.0300  3187.01
99           0  2021-06-04  3212.000  3221.0000  3198.8100  3206.22

    adjusted_close   volume  dividend_amount  split_coefficient    zhenfu  \
20         3286.58  3125174              0.0                1.0  1.019654
21         3262.13  2301417              0.0                1.0  1.013528
22         3277.71  2335339              0.0                1.0  1.014518
23         3268.95  2574721              0.0                1.0  1.016815
24         3308.64  3261801              0.0                1.0  1.018840
..             ...      ...              ...                ...       ...
95         3223.07  2331509              0.0                1.0  1.008787
96         3218.65  2430045              0.0                1.0  1.013063
97         3233.99  2014524              0.0                1.0  1.008416
98         3187.01  2398293              0.0                1.0  1.009549
99         3206.22  2249749              0.0                1.0  1.006937

         factor     factor_b  signal
20  3351.175134  3340.282648     NaN
21  3306.260340  3343.862224     1.0
22  3325.294583  3350.907281    -1.0
23  3323.917261  3359.573728    -1.0
24  3370.976227  3369.674360    -1.0
..          ...          ...     ...
95  3251.389611  3311.126969    -1.0
96  3260.695274  3299.212667    -1.0
97  3261.208744  3291.869453    -1.0
98  3217.443457  3284.691359    -1.0
99  3228.461403  3277.380451    -1.0

[80 rows x 14 columns]

In [15]:
df = da.drop(['Unnamed: 0'], axis=1)

In [22]:
date_index = df['timestamp']

In [24]:
df.set_index("timestamp", inplace = True)

In [25]:
df.head()

,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient,zhenfu,factor,factor_b,signal
timestamp,,,,,,,,,,,,
2021-02-10,3314.00,3317.9548,3254.0000,3286.58,3286.58,3125174,0.0,1.0,1.019654,3351.175134,3340.282648,NaN
2021-02-11,3292.00,3292.0000,3248.0600,3262.13,3262.13,2301417,0.0,1.0,1.013528,3306.260340,3343.862224,1.0
2021-02-12,3250.00,3280.2500,3233.3100,3277.71,3277.71,2335339,0.0,1.0,1.014518,3325.294583,3350.907281,-1.0
2021-02-16,3254.05,3308.3000,3253.5910,3268.95,3268.95,2574721,0.0,1.0,1.016815,3323.917261,3359.573728,-1.0
2021-02-17,3263.60,3320.9100,3259.4996,3308.64,3308.64,3261801,0.0,1.0,1.018840,3370.976227,3369.674360,-1.0

In [30]:
factor_b = df['factor_b']

In [31]:
factor_b

timestamp
2021-02-10    3340.282648
2021-02-11    3343.862224
2021-02-12    3350.907281
2021-02-16    3359.573728
2021-02-17    3369.674360
                 ...
2021-05-28    3311.126969
2021-06-01    3299.212667
2021-06-02    3291.869453
2021-06-03    3284.691359
2021-06-04    3277.380451
Name: factor_b, Length: 80, dtype: float64

In [32]:
factor_b.to_csv('/Users/abby/Downloads/factor_b.csv')

In [33]:
signal = df['signal']

In [34]:
signal.to_csv('/Users/abby/Downloads/signal.csv')

In [36]:
odata = df[['open','high','low','close','adjusted_close','volume','dividend_amount','split_coefficient']]

In [37]:
odata

,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
timestamp,,,,,,,,
2021-02-10,3314.000,3317.9548,3254.0000,3286.58,3286.58,3125174,0.0,1.0
2021-02-11,3292.000,3292.0000,3248.0600,3262.13,3262.13,2301417,0.0,1.0
2021-02-12,3250.000,3280.2500,3233.3100,3277.71,3277.71,2335339,0.0,1.0
2021-02-16,3254.050,3308.3000,3253.5910,3268.95,3268.95,2574721,0.0,1.0
2021-02-17,3263.600,3320.9100,3259.4996,3308.64,3308.64,3261801,0.0,1.0
...,...,...,...,...,...,...,...,...
2021-05-28,3242.000,3247.9900,3219.7000,3223.07,3223.07,2331509,0.0,1.0
2021-06-01,3243.495,3250.9800,3209.0600,3218.65,3218.65,2430045,0.0,1.0
2021-06-02,3223.100,3235.0000,3208.0000,3233.99,3233.99,2014524,0.0,1.0
2021-06-03,3204.230,3214.4350,3184.0300,3187.01,3187.01,2398293,0.0,1.0
2021-06-04,3212.000,3221.0000,3198.8100,3206.22,3206.22,2249749,0.0,1.0